[submodule "vendor/zk-tele-auth"]
	path = vendor/zk-tele-auth
	url = https://github.com/EF-Code/zk-tele-auth.git
[submodule "vendor/ton-token-contract"]
	path = vendor/ton-token-contract
	url = https://github.com/ton-blockchain/jetton-contract.git
